<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ProBooks Accounting</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/claimants">Members</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/all-donations">Donations</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/yearly-transactions">Bank Transactions</a>
        </li>
      </ul>
      <a style="padding-right: 10px;">logged in as <%= loggedInName %></a>
      <a class="btn btn-primary" href="/logout">Log Out</a>
    </nav>

<% if (message.success) { %>
  <div id="flash-message" class="alert alert-success">
      <%= message.success %>
  </div>
<% } %>
<% if (message.error) { %>
  <div id="flash-message" class="alert alert-danger">
      <%= message.error %>
  </div>
<% } %>

<script>
  setTimeout(function() {
    document.getElementById("flash-message").classList.add("hidden");
  }, 1000); // hide after 1 seconds
</script>

<style>
  .hidden { display: none; }
</style>