<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ProBooks Accounting</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/claimants">Members</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/all-donations">Donations</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/yearly-transactions">Bank Transactions</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administration</a>
        </li>
      </ul>
      <a style="padding-right: 10px;">logged in as <%= loggedInName %></a>
      <a class="btn btn-primary" href="/logout">Log Out</a>
    </nav>

<% if (message.success) { %>
  <div id="flash-message" class="alert alert-success">
      <%= message.success %>
  </div>
<% } %>
<% if (message.error) { %>
  <div id="flash-message" class="alert alert-danger">
      <%= message.error %>
  </div>
<% } %>

<br>
<br>
<br>
<script>
  setTimeout(function() {
    document.getElementById("flash-message").classList.add("hidden");
  }, 1000); // hide after 1 seconds
</script>

<style>
  .hidden { display: none; }
</style>