<div class="form-group row">
    <label class="col-form-label col-sm-2" for="email">Email</label>
    <div class="col-sm-7">
      <input required placeholder="Enter email" type="email" class="form-control" name="email"/>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="password">Password</label>
    <div class="col-sm-7">
      <input required aria-describedby="passwordHelpBlock" id="password" placeholder="Enter password" minlength="8" type="password" class="form-control" name="password"/>
      <input type="checkbox" onclick="myFunction()"> Show Password

      <script>
      function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      </script>
    </div>
</div>