<%- include("_loggedInHeader") -%>

<h1 class="display-2 text-center">Administration</h1>
    <br>
    <a class="btn btn-lg btn-secondary cancel" href="/export-transactions" style="text-align: center; display:flex; justify-content: center; align-items: center; height: 100px; width: 300px; font-size: 1.5em; margin-left: auto; margin-right: auto;">EXPORT TRANSACTIONS</a>
    <br>
    <a class="btn btn-lg btn-secondary cancel" href="/export-donations" style="text-align: center; display:flex; justify-content: center; align-items: center; height: 100px; width: 300px; font-size: 1.5em; margin-left: auto; margin-right: auto;">EXPORT DONATIONS</a>
    <br>
    <a class="btn btn-lg btn-secondary cancel" href="/export-giftaid-claims" style="text-align: center; display:flex; justify-content: center; align-items: center; height: 100px; width: 300px; font-size: 1.5em; margin-left: auto; margin-right: auto;">CLAIM GIFTAID</a>
    
    <%- include("_loggedInFooter") -%>