<%- include("_header") -%>

<h1 class="display-5">Update Member</h1>

<form action="/edit-member/<%= member.id %>" method="post">
  <div class="container">
  <div class="form-horizontal">

    <%- include("_claimantEditor") -%>
    <br>

    <div class="form-group row">
      <label class="col-form-label"></label>
      <div class="col-sm-5">
        <input type="submit" value="Update" class="btn btn-default btn-warning" />
      </div>
    </div>
  </div>
  </div>
</form>

<%- include("_loggedInFooter") -%>