<%- include("_header") -%>

<h1 class="display-5">Forgot Password</h1>

<form method="POST" action="/forgot-password">
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-7">
      <input required placeholder="Enter email" type="email" class="form-control" name="email"/>
    </div>
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="security_question">Name of first school:</label>
  <div class="col-sm-7">
    <input required placeholder="Enter security question answer" type="text" class="form-control" name="security_question"/>
  </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="password">New Password:</label>
    <div class="col-sm-7">
      <input required aria-describedby="passwordHelpBlock" id="new_password" placeholder="Enter password" minlength="8" type="password" class="form-control" name="new_password"/>
      <input type="checkbox" onclick="myFunction()"> Show Password

      <script>
      function myFunction() {
        var x = document.getElementById("new_password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      </script>
    </div>
  </form>
  <br>
  <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Reset Password</button>
    <a class="btn btn-outline-dark cancel" href="/login">Sign In</a>
  </div>
<%- include("_footer") -%>