<%- include("_loggedInHeader") -%>

<h1 class="display-5">Generate Transactions PDF</h1>
  
<form action="/generate-transaction-pdf" method="post">
  <div class="form-group row">
      <label class="col-form-label col-sm-2" for="export">Export</label>
      <div class="col-sm-5">
        <select required class="form-control" name="export" id="export" style="max-width: fit-content;">
          <option value="everything">Everything</option>
          <option value="allPaidIn">All Paid In</option>
          <option value="allPaidOut">All Paid Out</option>
          <option value="allPaidOutOver£2000">All Paid Out Over £2000</option>
          <option value="support&charity">Support & Charity</option>
        </select>
      </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="start_date">Date Beginning</label>
    <div class="col-sm-5">
      <input required type="date" style="max-width: fit-content;" class="form-control" cols="20" name="start_date" maxlength="32000"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="end_date">Date Ending</label>
    <div class="col-sm-5">
      <input required type="date" style="max-width: fit-content;" class="form-control" cols="20" name="end_date" maxlength="32000" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="email">Email</label>
    <div class="col-sm-5">
      <input required type="email" style="max-width: fit-content;" class="form-control" name="email" />
    </div>
  </div>
    <div class="col-sm-10">
        <input type="submit" value="Generate" class="btn btn-default btn-success" />
        <a class="btn btn-outline-dark cancel" href="/admin">Cancel</a>
    </div>
</form>
<%- include("_loggedInFooter") -%>