<%- include("_loggedInHeader") -%>

<h1 class="display-5">No Donations For Member</h1>

        <a class="btn btn-default btn-success" href="/add-donation/<%= id %>">Add Donation</a>
        <a class="btn btn-outline-dark cancel" href="/claimants/:page">Return</a>
      </tbody>
    </table>
    
  </div>
  
  <%- include("_loggedInFooter") -%>